/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
    /* COLOR PALETTE */
    /* Primary Colors */
    --black: #2b2b2b;
    --light-dark: #858585;
    --white: #eee;
    --verdigris: #00abb3ff;
    --fluorescent-cyan: #00eeeeff;
    --verdigris-2: #00acb6ff;
    --red-pantone: #e71d36ff;
    --rust: #af4319ff;
    --smoky-black: #19180aff;
    --drab-dark-brown: #474a2cff;
    --dark-moss-green: #636940ff;
    --jade: #59a96aff;
    --celadon: #9bdeacff;
    --celadon-2: #b4e7ceff;
    --gradient: linear-gradient(to bottom right, rgb(0, 200, 211), rgb(0, 204, 204));
    /* SHADOWS */
    --shadow: 0 2rem 2rem 0 rgba(0, 0, 0, .2);
    --shadow-alt: 0 1rem 1rem 0 rgba(0, 0, 0, .2);
}

/* OVERRIDE DEFAULT STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 1.2px;
}

body {
    background: #ececec;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
}

.logo {
    width: 15%;
    opacity: .7;
    transition: .4s all ease;
    animation: bounce-top 1s;
}

.logo:hover {
    opacity: 1;
    cursor: pointer;
}

/**
 * ----------------------------------------
 * animation bounce-top
 * ----------------------------------------
 */
@-webkit-keyframes bounce-top {
    0% {
        -webkit-transform: translateY(-45px);
        transform: translateY(-45px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 1;
    }

    24% {
        opacity: 1;
    }

    40% {
        -webkit-transform: translateY(-24px);
        transform: translateY(-24px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    65% {
        -webkit-transform: translateY(-12px);
        transform: translateY(-12px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    82% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    93% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    25%,
    55%,
    75%,
    87% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: .7;
    }
}

@keyframes bounce-top {
    0% {
        -webkit-transform: translateY(-45px);
        transform: translateY(-45px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 1;
    }

    24% {
        opacity: 1;
    }

    40% {
        -webkit-transform: translateY(-24px);
        transform: translateY(-24px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    65% {
        -webkit-transform: translateY(-12px);
        transform: translateY(-12px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    82% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    93% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    25%,
    55%,
    75%,
    87% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: .7;
    }
}

/* NAV LINK CONTAINER */
.nav-links {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    list-style: none;
}

/* LINKS */
.link {
    text-decoration: none;
    color: #4a556e;
    font-weight: 600;
    transition: .4s all ease;
}

.link:hover {
    color: var(--fluorescent-cyan);
}

.is-active {
    color: var(--fluorescent-cyan);
    border-left: 1px solid var(--fluorescent-cyan);
    padding-left: 1rem;
}

.critical {
    color: var(--red-pantone);
    animation: text-flicker-out-glow 5s infinite;
}

.user-icon {
    color: var(--verdigris-2);
    padding: 1rem;
    border-radius: 99px;
    transition: .4s all ease;
}

.user-icon:hover {
    color: var(--white);
    background: var(--verdigris);
    box-shadow: 0 .3rem .5rem 0 rgba(0, 0, 0, .2);
}

/**
 * ----------------------------------------
 * animation text-flicker-out-glow
 * ----------------------------------------
 */
 @-webkit-keyframes text-flicker-out-glow {
    0% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    13.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    14% {
      opacity: 0;
      text-shadow: none;
    }
    14.9% {
      opacity: 0;
      text-shadow: none;
    }
    15% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    22.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    23% {
      opacity: 0;
      text-shadow: none;
    }
    24.9% {
      opacity: 0;
      text-shadow: none;
    }
    25% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    34.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    35% {
      opacity: 0;
      text-shadow: none;
    }
    39.9% {
      opacity: 0;
      text-shadow: none;
    }
    40% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
    }
    42.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
    }
    43% {
      opacity: 0;
      text-shadow: none;
    }
    44.9% {
      opacity: 0;
      text-shadow: none;
    }
    45% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    50% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    54.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    55% {
      opacity: 0;
      text-shadow: none;
    }
    69.4% {
      opacity: 0;
      text-shadow: none;
    }
    69.5% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    69.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    70% {
      opacity: 0;
      text-shadow: none;
    }
    79.4% {
      opacity: 0;
      text-shadow: none;
    }
    79.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
    }
    80% {
      opacity: 0;
      text-shadow: none;
    }
    89.8% {
      opacity: 0;
      text-shadow: none;
    }
    89.9% {
      opacity: 1;
      text-shadow: none;
    }
    90% {
      opacity: 0;
      text-shadow: none;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes text-flicker-out-glow {
    0% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    13.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    14% {
      opacity: 0;
      text-shadow: none;
    }
    14.9% {
      opacity: 0;
      text-shadow: none;
    }
    15% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    22.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    23% {
      opacity: 0;
      text-shadow: none;
    }
    24.9% {
      opacity: 0;
      text-shadow: none;
    }
    25% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    34.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    35% {
      opacity: 0;
      text-shadow: none;
    }
    39.9% {
      opacity: 0;
      text-shadow: none;
    }
    40% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
    }
    42.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
    }
    43% {
      opacity: 0;
      text-shadow: none;
    }
    44.9% {
      opacity: 0;
      text-shadow: none;
    }
    45% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    50% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    54.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    55% {
      opacity: 0;
      text-shadow: none;
    }
    69.4% {
      opacity: 0;
      text-shadow: none;
    }
    69.5% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    69.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    70% {
      opacity: 0;
      text-shadow: none;
    }
    79.4% {
      opacity: 0;
      text-shadow: none;
    }
    79.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
    }
    80% {
      opacity: 0;
      text-shadow: none;
    }
    89.8% {
      opacity: 0;
      text-shadow: none;
    }
    89.9% {
      opacity: 1;
      text-shadow: none;
    }
    90% {
      opacity: 0;
      text-shadow: none;
    }
    100% {
      opacity: 0;
    }
  }

/* APP CONTAINER */
#app-container {
    max-width: 60%;
    margin: auto;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

/* BALANCE CARD */
.balance-card {
    background: var(--gradient);
    color: var(--white);
    border-radius: 24px;
    box-shadow: var(--shadow);
    opacity: .5;
    transition: .4s all ease;
    cursor: pointer;
    height: 175px;
}

.balance-card:hover {
    transform: translateY(-4px);
    opacity: 1;
}

.balance-card-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    line-height: 1.6rem;
}

.balance-card-title h2 {
    font-size: 1.7rem;
}

.balance-card-title h2 span {
    font-size: 1.2rem;
}

.balance-icon {
    font-size: 1.7rem;
    color: var(--fluorescent-cyan);
    background: var(--white);
    padding: .5rem;
    border-radius: 99px;
    box-shadow: 0 .2rem 1rem 0 rgba(0, 0, 0, .1);
    animation: heartbeat 1s;
}

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
 @-webkit-keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }

/* BALANCE CARD CONTENT */
.balance-card-content {
    color: var(--verdigris-2);
    text-align: center;
    border-radius: 24px;
}

#account-balance {
    display: flex;
    flex-direction: column;
    background: var(--white);
    font-weight: 700;
    font-size: 2rem;
    padding: 5rem;
    clip-path: circle(30% at 50% 50%);
    position: relative;
    top: -40px;
}

.account-info {
    pointer-events: none;
}

.currency {
    font-weight: 600;
    font-size: .9rem;
}

/* SPENDING CARD */
.spending-card {
    background: var(--white);
    border-radius: 24px;
    box-shadow: var(--shadow);
    padding: 2rem;
    transition: .4s all ease;
    cursor: pointer;
}

.spending-card:hover {
    transform: translateY(-4px);
}

.spending-card-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--light-dark);
    font-weight: 600;
}

.spending-icon {
    color: var(--red-pantone);
    font-size: 2rem;
}

.spending-card-title h2 {
    font-size: 1rem;
}

/* AMOUNT SPENT */
#amount {
    color: var(--black);
    margin-top: 1rem;
    display: flex;
    gap: .3rem;
    font-size: 2rem;
}

.currency-spent {
    font-weight: 400;
    color: var(--light-dark);
}

.rate {
    font-weight: 900;
    font-size: 1rem;
    color: var(--light-dark);
}

.date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    color: #353535;
}

.date p {
    font-weight: 400;
    font-size: .8rem;
}

.ellipsis {
    font-size: 2rem;
    color: var(--verdigris);
}


/* BUDGET CARD */
.budget-card {
    background: #ffc65d;
    border-radius: 24px;
    box-shadow: var(--shadow);
    padding: 2rem;
    transition: .4s all ease;
    cursor: pointer;
}

.budget-card:hover {
    transform: translateY(-4px);
}

.budget-card-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--light-dark);
    font-weight: 600;
}

.budget-icon {
    color: var(--red-pantone);
    font-size: 2rem;
}

.budget-card-title h2 {
    font-size: 1rem;
}

/* AMOUNT SPENT */
#amount {
    color: var(--black);
    margin-top: 1rem;
    display: flex;
    gap: .3rem;
    font-size: 2rem;
}

.currency-spent {
    font-weight: 400;
    color: var(--light-dark);
}

.rate {
    font-weight: 900;
    font-size: 1rem;
    color: var(--light-dark);
}

.date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    color: #353535;
}

.date p {
    font-weight: 400;
    font-size: .8rem;
}


/* CATEGORIES */
#category-container {
    max-width: 60%;
    margin: auto;
    margin-top: 6rem;
    display: flex;
    
}






/* MEDIA QUERIES */
@media (max-width: 1600px){
    
}